/* styles.css */
.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f0f8ff; /* Alice Blue */
}

.label-title {
    -fx-font-size: 24px;
    -fx-text-fill: #003366; /* Dark Blue */
    -fx-font-weight: bold;
}

.label, .text-field, .button {
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #4da6ff; /* Light Blue */
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 8 15 8 15;
}

.button:hover {
    -fx-background-color: #0059b3; /* Darker Blue */
}

.text-area {
    -fx-background-color: white;
    -fx-border-color: #4da6ff; /* Light Blue */
    -fx-border-width: 2;
}
